[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/klsm"]
	path = external/klsm
	url = https://github.com/marvinwilliams/klsm.git
